@import '../deni-react-treeview/deni-react-treeview.vars.scss';
@import './base-theme.scss';

.deni-react-treeview-container.metro {
  background-color: darken($metro, 50%) !important;
  border-color: lighten($metro, 2%);

  .deni-react-treeview-item-container.metro {
    color: lighten($base-color, 15%) !important;

    &:hover {
      background-color: transparent !important;
    }

    &.selected {
      @include gradient-background(darken($base-color, 52%));
      outline-color: darken($base-color, 5%) !important;
    }
    .checkbox {
      border-color: lighten($base-color, 4%) !important;
      &.selected {
        border-color: darken($base-color, 15%) !important;
        background-color: transparent;
      }
    }
    .expand-button {
      color: lighten($base-color, 15%) !important;
    }
    .icon-and-text {
      &:hover {
        background-color: transparent !important;
      }
      &.selected {
        @include gradient-background(darken($base-color, 42%));
        border-color: darken($base-color, 2%);
      }
      .icon {
        background-image: $closed-folder-icon-metro-16;

        &.isleaf {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACjElEQVR42o2SW0hUURSG/32OhnhAqJDCzF6kN0lLGtJCtLQyKIMotRjBy1sqVEZS9mKZBdKFHBJpJEKD0urBvAchhqY5kp6MHkRlMhpHR2fOHuZybu3KxhEr+/fL3g/rWx9rL4Kl1La+ta0XwiNUTVf9sgJF0yB5FVCfAqt9Lnx8yt7Ph4Qc6btVtIigkN+XJ28s9MTeHQLPETipF3aXB7NOJ2wLXnyamYVlwgq/jN5Fj+9QX3WhZxXg8ethmpMSzwA666rDxSBOKsHhViBa7XC5ndgWuRH1PSP9XlnJZJDFFYBHXe/p6bQEIanoGTZECJDhh98jg6gc5ue+oqwkBXlp8TB3WfBiYLx3yuYwiqbS6QDA3DVEjWk7BZ7n8Kc09IzAEBsFm+RG6+BndFsmhsdMxYkBwIO2d7QwI1HIrmgH0XmEMo7MA5qiQ9PZQF0SrDNOpBq2YPPWcLT0i+KYqTQuALjzvJeePZr8V4Nf0fHF4cD49DzKHnaKo7Uly4Cqpg568WS6kH21GxpREIZQEKKxEo4ZaXDJfrgWJBwwxGBPfDTONbxigOJlQLm5jVYaD65hAHgUP77ZKY5fbxI/BAPOm9vpTWOGkH2lExzHIKwrYYcnPNQwnhnpkKjGukciddcm5N9tFkdNJasBaxnouo5J2wKOVTaKYjDggrmDVhvThVOX2S9wPOu8tGnk5+zAMRPqk7HfEI2kuEjk32tmvxAEKK1rpTUFh9c00JjBFDPIYgYrAAW3W2hdcZaQU9GGdWwJOMIFCnRNxY+X5FaxLyEK6ckxOFPzdCUg90YjbbyUK+A/Mk89yCyvFwfvBy1SbF6VLWF7TIRPUdV/FRNNh6qowsDHyaG5l9d2fwfyXD4gAGnljAAAAABJRU5ErkJggg==');
        }

        &.expanded {
          background-image: $opened-folder-icon-metro-16;
        }
      }
    }

  }

}
