html,body,#root {
  margin: 0;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;

  * {
    box-sizing: border-box;
  }

}

.examples-container {
  height: 100%;
  font-size: 12px;
  font-family: arial,tahoma;
  display: flex;
  flex-direction: column;
  background-color: #ebf5fa;

  .title {
    height: 35px;
    width: 100%;
    display: block;
    font-family: tahoma,arial;
    font-size: 22px;
    padding-top: 3px;
    color: #f2f2f2;
    text-align: center;
    //background-color: #1565C0;
    box-shadow: 0px 5px 5px silver;
    background: #2e7bcf url(./header-bg.png) 0 0 repeat-x;
  }

  .menu-and-body {
    justify-content: space-around;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 15px;

    .menu {
      width: 240px;
      color: #006064;
      display: block;
      padding: 10px;
      cursor: default;
      border-radius: 5px;
      box-shadow: -2px 2px 15px #aed7ea;
      background-color: #FFFFFF;

      .menu-item {
        $padding-menu-item: 4px 0px;
        padding: $padding-menu-item;
        color: #4d4d4d;
        //margin-bottom: -1px;
        z-index: 9999;
        //color: #3F51B5;

        &.child {
          padding: 0px;
          padding-left: 25px;
          cursor: pointer;
        }

        a {
          padding: $padding-menu-item;
          text-decoration: none;
          width: 100%;
          display: block;
          color: inherit;

          &.active {
            //border-bottom: solid 1px #F50057;
            border-bottom: solid 1px #0b7ada;
            padding-bottom: calc(#{$padding-menu-item} + 1px);
            //color: #C51162;
            color: #0b7ada;
          }

          &:hover {
            //background-color: $body-background-color;
            color: #FF4081;
            //color: #1a1aff;
          }

        }

      }

    }

    .body-container {
      display: inline-flex;
      justify-content: space-around;
      flex: 1;

      .body {
        // border: solid 1px red;
        display: flex;
        justify-content: space-around;
        flex: 1;
        flex-direction: column;
        padding: 15px;
        // background-color: #F7FAFD;

        &.nomatch {
          background-color: #FFF0F0;
          color: #ff0000;
          font-size: 18px;
          border-top: solid 1px #ff0000;
        }

        .example-preview-title {
          width: 100%;
          height: 30px;
          color: #0b7ada; //#153e51;
          box-sizing: border-box;
          font-family: tahoma;
          font-size: 12px;
          display: block;
        }

        .example-preview-container {
          position: relative;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          // border: solid 1px orange;
          flex: 1;

          .example-preview-iframe {
            justify-content: space-around;
            flex: 1;
            border: solid 1px lighten(#1565C0, 50%);
          }

        }

      }

    }

  }

}
