html,body,#root {
  margin: 0;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;

  * {
    box-sizing: border-box;
  }

}

.examples-container {
  $body-background-color: #F7FAFD;
  height: 100%;
  font-size: 12px;
  font-family: arial,tahoma;
  display: flex;
  flex-direction: column;

  .title {
    height: 35px;
    width: 100%;
    display: block;
    font-family: tahoma,arial;
    font-size: 22px;
    padding-top: 3px;
    color: #f2f2f2;
    text-align: center;
    background-color: #1565C0;
    box-shadow: 0px 5px 5px silver;
  }

  .menu-and-body {
    justify-content: space-around;
    flex: 1;
    display: flex;
    flex-direction: column;
    //border: solid 1px blue;

    .menu {
      $border-color: darken(#f2f2f2, 4%);
      height: 45px;
      color: #006064;
      align-items: flex-end;;
      display: flex;
      flex-direction: row;
      border-bottom: solid 1px darken($border-color, 3%);
      padding-left: 6px;

      .menu-item {
        display: inline-flex;
        color: #007380;
        //margin-bottom: -1px;
        z-index: 9999;

        a {
          $padding-menu-item: 10px;
          padding: $padding-menu-item;
          cursor: pointer;
          text-decoration: none;

          &.active {
            border: solid 1px darken($border-color, 5%);;
            border-bottom: solid 1px #F50057;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding-bottom: calc(#{$padding-menu-item} - 1px);
            background-color: $body-background-color;
            padding-left: calc(#{$padding-menu-item} - 1px);
            padding-right: calc(#{$padding-menu-item} - 1px);
            color: #1565C0;
            //font-weight: bold;
          }
        }

        &:hover {
          background-color: $body-background-color;
          color: #1565C0;
        }
      }

    }

    .body {
      //border: solid 1px #80DEEA;
      display: block;
      justify-content: space-around;
      flex: 1;
      padding: 15px;
      background-color: #F7FAFD;

      &.nomatch {
        background-color: #FFF0F0;
        color: #ff0000;
        font-size: 18px;
        border-top: solid 1px #ff0000;
      }

      .example-preview-title {
        width: 100%;
        color: #F50057;
        height: 30px;
        box-sizing: border-box;
        font-family: tahoma;
        font-size: 12px;
        align-items: flex-start;
        display: flex;
        border-bottom: solid 1px lighten(#1565C0, 50%);
        flex-direction: row;
        align-items: center;
      }

      .example-preview-container {
        height: calc(100% - 40px);
        position: relative;
        width: 100%;
        box-sizing: border-box;
        display: block;
        display: flex;

        .example-preview-iframe {
          justify-content: space-around;
          flex: 1;
        }
      }

    }
  }

}
