html,body,#root {
  margin: 0;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;

  * {
    box-sizing: border-box;
  }

}

.examples-container {
  $body-background-color: #F7FAFD;
  height: 100%;
  font-size: 12px;
  font-family: arial,tahoma;
  display: flex;
  flex-direction: column;

  .title {
    height: 35px;
    width: 100%;
    display: block;
    font-family: tahoma,arial;
    font-size: 22px;
    padding-top: 3px;
    color: #f2f2f2;
    text-align: center;
    background-color: #1565C0;
    box-shadow: 0px 5px 5px silver;
  }

  .menu-and-body {
    justify-content: space-around;
    flex: 1;
    display: flex;
    flex-direction: row;

    .menu {
      $border-color: darken(#f2f2f2, 4%);
      width: 220px;
      color: #006064;
      display: block;
      //border: solid 2px blue;
      padding: 6px;
      cursor: default;

      .menu-item {
        $padding-menu-item: 4px 0px;
        padding: $padding-menu-item;
        color: #007380;
        //margin-bottom: -1px;
        z-index: 9999;
        color: #3F51B5;

        &.child {
          padding: 0px;
          padding-left: 25px;
          cursor: pointer;
        }

        a {
          padding: $padding-menu-item;
          text-decoration: none;
          width: 100%;
          display: block;
          color: inherit;

          &.active {
            border-bottom: solid 1px #F50057;
            padding-bottom: calc(#{$padding-menu-item} - 1px);
            color: #C51162;
          }

          &:hover {
            //background-color: $body-background-color;
            color: #FF4081;
          }

        }

      }

    }

    .body-container {
      display: inline-flex;
      justify-content: space-around;
      flex: 1;

      .body {
        // border: solid 1px red;
        display: flex;
        justify-content: space-around;
        flex: 1;
        flex-direction: column;
        padding: 15px;
        // background-color: #F7FAFD;

        &.nomatch {
          background-color: #FFF0F0;
          color: #ff0000;
          font-size: 18px;
          border-top: solid 1px #ff0000;
        }

        .example-preview-title {
          width: 100%;
          height: 30px;
          color: #4A148C;
          box-sizing: border-box;
          font-family: tahoma;
          font-size: 12px;
          display: block;
          // border: solid 1px green;
        }

        .example-preview-container {
          position: relative;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          // border: solid 1px orange;
          flex: 1;

          .example-preview-iframe {
            justify-content: space-around;
            flex: 1;
            border: solid 1px lighten(#1565C0, 50%);
          }

        }

      }

    }

  }

}
